In [94]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [73]:
train=pd.read_csv("train.csv")

In [31]:
train.head()

,akeed_customer_id,gender,dob,status_x,verified_x,language_x,created_at_x,updated_at_x,location_number,location_type,...,open_close_flags,vendor_tag,vendor_tag_name,one_click_vendor,country_id,city_id,created_at,updated_at_y,device_type,display_orders
0,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,0,Work,...,1.0,"1,5,8,57,30,27,24,16","American,Burgers,Desserts,Donuts,Fries,Pasta,S...",Y,1.0,1.0,2019-04-30 16:15:30,2020-04-07 18:45:33,3.0,1.0
1,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,0,Work,...,1.0,"2,8,91,10","Arabic,Desserts,Free Delivery,Indian",Y,1.0,1.0,2018-10-24 18:11:35,2020-04-07 23:51:01,3.0,1.0
2,ZGFSYCZ,Male,NaN,1,1,EN,2018-02-09 12:04:42,2018-02-09 12:04:41,0,Home,...,1.0,"60,38,61,16,36","Coffee,Fresh Juices,Hot Chocolate,Sandwiches,S...",Y,1.0,1.0,2019-07-02 14:50:31,2020-03-31 13:23:57,3.0,1.0
3,ZGFSYCZ,Male,NaN,1,1,EN,2018-02-09 12:04:42,2018-02-09 12:04:41,0,Home,...,1.0,"60,38,61,16,36","Coffee,Fresh Juices,Hot Chocolate,Sandwiches,S...",Y,1.0,1.0,2019-07-02 14:50:31,2020-03-31 13:23:57,3.0,1.0
4,ZGFSYCZ,Male,NaN,1,1,EN,2018-02-09 12:04:42,2018-02-09 12:04:41,0,Home,...,1.0,"60,38,61,16,36","Coffee,Fresh Juices,Hot Chocolate,Sandwiches,S...",Y,1.0,1.0,2019-07-02 14:50:31,2020-03-31 13:23:57,3.0,1.0

In [79]:
train.columns.values

array(['akeed_customer_id', 'gender', 'dob', 'status_x', 'verified_x',
       'language_x', 'created_at_x', 'updated_at_x', 'location_number',
       'location_type', 'latitude_x', 'longitude_x', 'akeed_order_id',
       'customer_id', 'item_count', 'grand_total', 'payment_mode',
       'promo_code', 'vendor_discount_amount',
       'promo_code_discount_percentage', 'is_favorite', 'is_rated',
       'vendor_rating_x', 'driver_rating', 'deliverydistance',
       'preparationtime', 'delivery_time', 'order_accepted_time',
       'driver_accepted_time', 'ready_for_pickup_time', 'picked_up_time',
       'delivered_time', 'delivery_date', 'vendor_id', 'created_at_y',
       'LOCATION_NUMBER', 'LOCATION_TYPE', 'CID X LOC_NUM X VENDOR',
       'Target', 'id', 'authentication_id', 'latitude_y', 'longitude_y',
       'vendor_category_en', 'vendor_category_id', 'delivery_charge',
       'serving_distance', 'is_open', 'OpeningTime', 'OpeningTime2',
       'prepration_time', 'commission', 'is_akeed_delivering',
       'discount_percentage', 'status_y', 'verified_y', 'rank',
       'language_y', 'vendor_rating_y', 'sunday_from_time1',
       'sunday_to_time1', 'sunday_from_time2', 'sunday_to_time2',
       'monday_from_time1', 'monday_to_time1', 'monday_from_time2',
       'monday_to_time2', 'tuesday_from_time1', 'tuesday_to_time1',
       'tuesday_from_time2', 'tuesday_to_time2', 'wednesday_from_time1',
       'wednesday_to_time1', 'wednesday_from_time2', 'wednesday_to_time2',
       'thursday_from_time1', 'thursday_to_time1', 'thursday_from_time2',
       'thursday_to_time2', 'friday_from_time1', 'friday_to_time1',
       'friday_from_time2', 'friday_to_time2', 'saturday_from_time1',
       'saturday_to_time1', 'saturday_from_time2', 'saturday_to_time2',
       'primary_tags', 'open_close_flags', 'vendor_tag',
       'vendor_tag_name', 'one_click_vendor', 'country_id', 'city_id',
       'created_at', 'updated_at_y', 'device_type', 'display_orders'],
      dtype=object)

In [50]:
d = {"Feature":[i for i in train.columns]    ,"Nunique" :train.nunique().values ,'Type' : train.dtypes.values }
description = pd.DataFrame(data = d)
description

                           Feature  Nunique     Type
0                akeed_customer_id    34523   object
1                           gender       10   object
2                              dob       65  float64
3                         status_x        2    int64
4                       verified_x        2    int64
5                       language_x        1   object
6                  location_number        1    int64
7                    location_type        3   object
8                       latitude_x    34101  float64
9                      longitude_x    34145  float64
10                  akeed_order_id   131945  float64
11                      item_count       34  float64
12                     grand_total     1042  float64
13                    payment_mode        5  float64
14                      promo_code     1363   object
15          vendor_discount_amount       78  float64
16  promo_code_discount_percentage        4  float64
17                     is_favorite        2   object
18                        is_rated        2   object
19                 vendor_rating_x        6  float64
20                   driver_rating        6  float64
21                deliverydistance     1513  float64
22                 preparationtime       14  float64
23                   delivery_time     4717   object
24             order_accepted_time    84192   object
25            driver_accepted_time    45334   object
26           ready_for_pickup_time    81558   object
27                  picked_up_time    81569   object
28                  delivered_time    83408   object
29                   delivery_date      112   object
..                             ...      ...      ...
65                tuesday_to_time1       26   object
66              tuesday_from_time2       15   object
67                tuesday_to_time2        6   object
68            wednesday_from_time1       19   object
69              wednesday_to_time1       28   object
70            wednesday_from_time2       15   object
71              wednesday_to_time2        8   object
72             thursday_from_time1       20   object
73               thursday_to_time1       27   object
74             thursday_from_time2       16   object
75               thursday_to_time2        7   object
76               friday_from_time1       23   object
77                 friday_to_time1       22   object
78               friday_from_time2       16   object
79                 friday_to_time2        7   object
80             saturday_from_time1       24   object
81               saturday_to_time1       24   object
82             saturday_from_time2       17   object
83               saturday_to_time2        7   object
84                    primary_tags       42   object
85                open_close_flags        1  float64
86                      vendor_tag       77   object
87                 vendor_tag_name       77   object
88                one_click_vendor        1   object
89                      country_id        1  float64
90                         city_id        1  float64
91                      created_at      100   object
92                    updated_at_y       98   object
93                     device_type        2  float64
94                  display_orders        1  float64

[95 rows x 3 columns]

In [80]:
train.drop(['customer_id','created_at_x','updated_at_x','akeed_order_id'],axis=1,inplace=True)

In [35]:
train.shape

(139771, 95)

In [37]:
train['akeed_customer_id'].value_counts().head()

XW90EAP    262
TL7Z2DM    151
VDEJEMP    146
HJFTTGW    128
B28LJKM    119
Name: akeed_customer_id, dtype: int64

## DOB

In [38]:
print(train['dob'].notnull().sum())
print(train['dob'].isnull().sum())

12511
127260

In [39]:
#train['dob']=train['dob'].astype(str)

In [40]:
#df.groupby('akeed_customer_id').ffill()

In [41]:
train['dob'] = train.groupby('akeed_customer_id')['dob'].fillna(method='ffill')

In [44]:
#train.groupby('akeed_customer_id')['dob'].fillna(method='bfill')

In [45]:
train.groupby('akeed_customer_id')['dob'].apply(lambda x: x.fillna(method='ffill')).head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: dob, dtype: float64

In [46]:
#train.groupby('akeed_customer_id')['dob'].ffill()

In [48]:
train['dob'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: dob, dtype: float64

In [49]:
train['dob'].isnull().sum()

127260

In [14]:
train.head()

,akeed_customer_id,gender,dob,status_x,verified_x,language_x,created_at_x,updated_at_x,location_number,location_type,...,open_close_flags,vendor_tag,vendor_tag_name,one_click_vendor,country_id,city_id,created_at,updated_at_y,device_type,display_orders
0,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,0,Work,...,1.0,"1,5,8,57,30,27,24,16","American,Burgers,Desserts,Donuts,Fries,Pasta,S...",Y,1.0,1.0,2019-04-30 16:15:30,2020-04-07 18:45:33,3.0,1.0
1,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,0,Work,...,1.0,"2,8,91,10","Arabic,Desserts,Free Delivery,Indian",Y,1.0,1.0,2018-10-24 18:11:35,2020-04-07 23:51:01,3.0,1.0
2,ZGFSYCZ,Male,NaN,1,1,EN,2018-02-09 12:04:42,2018-02-09 12:04:41,0,Home,...,1.0,"60,38,61,16,36","Coffee,Fresh Juices,Hot Chocolate,Sandwiches,S...",Y,1.0,1.0,2019-07-02 14:50:31,2020-03-31 13:23:57,3.0,1.0
3,ZGFSYCZ,Male,NaN,1,1,EN,2018-02-09 12:04:42,2018-02-09 12:04:41,0,Home,...,1.0,"60,38,61,16,36","Coffee,Fresh Juices,Hot Chocolate,Sandwiches,S...",Y,1.0,1.0,2019-07-02 14:50:31,2020-03-31 13:23:57,3.0,1.0
4,ZGFSYCZ,Male,NaN,1,1,EN,2018-02-09 12:04:42,2018-02-09 12:04:41,0,Home,...,1.0,"60,38,61,16,36","Coffee,Fresh Juices,Hot Chocolate,Sandwiches,S...",Y,1.0,1.0,2019-07-02 14:50:31,2020-03-31 13:23:57,3.0,1.0

In [28]:
X=train.copy()
del X['Target']
y=train

## Gender

In [51]:
train['gender'].unique()

array(['Male', 'Female', 'Female  ', 'Female   ', 'Female    ', 'Male  ',
       '  ', 'Female ', nan, '?????', 'male'], dtype=object)

In [54]:
train['gender']=train['gender'].astype(str)

In [74]:
def gender(title):
    if title=='Male' or title=='Male  ' or title=='male' :
        return 'male'
    elif title=='Female'  or title=='Female  '  or title=='Female   ' or title=='Female    ' or title='Female ':
        return 'female'
    else:
        return 'na'

In [77]:
train['gender']=train['gender'].apply(gender)

In [78]:
train['gender'].unique()

array(['male', 'female', 'na'], dtype=object)

## Lat & Long

In [84]:
train[[ 'latitude_x', 'longitude_x']].isnull().sum()

latitude_x     4
longitude_x    4
dtype: int64

In [86]:
train[[ 'latitude_x', 'longitude_x']]=train[[ 'latitude_x', 'longitude_x']].dropna()

In [88]:
## Reduce memory usage
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [95]:
train=reduce_mem_usage(train)

Mem. usage decreased to 69.45 Mb (30.0% reduction)

In [97]:
#cluster lat and long
kmeans=KMeans(n_clusters=5,init='k-means++')
kmeans.fit(train[[ 'latitude_x', 'longitude_x']])
train['cluster_label'] = kmeans.fit_predict(train[[ 'latitude_x', 'longitude_x']])
centers = kmeans.cluster_centers_ # Coordinates of cluster centers.
labels = kmeans.predict(train[[ 'latitude_x', 'longitude_x']])
# Full_data['cluster_label'].value_counts()
train.plot.scatter(x = 'latitude_x', y = 'longitude_x', c=labels, s=50, cmap='viridis')
plt.scatter(centers[:, 0], centers[:, 1], c='r', s=200, alpha=0.5)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

## vendor_tag_name

In [99]:
train['vendor_tag_name']=train['vendor_tag_name'].astype(str)

In [100]:
train['vendor_tag_name']=train['vendor_tag_name'].apply(lambda x: x.split(','))

In [102]:
train['vendor_tag_name'].head()

0    [American, Burgers, Desserts, Donuts, Fries, P...
1            [Arabic, Desserts, Free Delivery, Indian]
2    [Coffee, Fresh Juices, Hot Chocolate, Sandwich...
3    [Coffee, Fresh Juices, Hot Chocolate, Sandwich...
4    [Coffee, Fresh Juices, Hot Chocolate, Sandwich...
Name: vendor_tag_name, dtype: object

In [107]:

from wordcloud import WordCloud, ImageColorGenerator, STOPWORDS
from nltk.corpus import stopwords

ModuleNotFoundError: No module named 'wordcloud'

In [105]:
wc= WordCloud(background_color="white", random_state=1,stopwords=STOPWORDS, max_words = 2000, width =800, height = 1500)
wc.generate(train['vendor_tag_name'])

plt.figure(figsize=[10,10])
plt.imshow(wc,interpolation="bilinear")
plt.axis('off')
plt.show()

NameError: name 'WordCloud' is not defined